<div id="header" class="grid-container">
  <div class="logo grid-parent grid-85 push-10 mobile-grid-100">
    <div class="grid-30 mobile-grid-60 mobile-push-20">
      <div class="logo-image"></div>
    </div>
    <nav class="grid-70 mobile-grid-100">
      <button class="nav-button">
        Menu
        <b class="caret"></b>
      </button>
      <ul class ="nav pull-right unstyled">
        <li class="alpha">
          <a href="index.html">Home</a>
        </li>
        <li class = "dropdown">
          <a href="#">
            About
            <b class="caret"></b>
          </a>
          <ul class = "dropdown-menu">
            <li><a href="history.html">Void History</a></li>
            <li><a href="stories.html">Stories</a></li>
            <li><a href="alumni.html">Alumni</a></li>
          </ul>
        </li>
        <li class = "dropdown">
          <a href="#">
            Roster
            <b class="caret"></b>
          </a>
          <ul class = "dropdown-menu">
            <li><a href="roster.html">Void-A</a></li>
            <li><a href="oilcan.html">Void-B</a></li>
          </ul>
        </li>
        <li class = "dropdown">
          <a href="#">
            Schedule
            <b class="caret"></b>
          </a>
          <ul class = "dropdown-menu">
            <li><a href="practice.html">Practice</a></li>
            <li><a href="tournaments.html">Tournaments</a></li>
            <li><a href="flickadelphia.html">Flickadelphia</a></li>
          </ul>
        </li>
        <li class = "dropdown">
          <a href="#">
            Media
            <b class="caret"></b>
          </a>
          <ul class = "dropdown-menu">
            <li><a href="photos.html">Photos</a></li>
            <li><a href="videos.html">Videos</a></li>
          </ul>
        </li>
        <!-- <li><a href="flickadelphia.html">Flickadelphia</a></li> -->
        <li><a href="http://www.dolphin.upenn.edu/ultimate/venus/">Venus</a></li>
        <li class="omega"><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>