div, head, footer, p, h1, h2, h3, h4, ul, li, a, img, table{
	margin: 0;
	padding: 0;
}

.unstyled{
	list-style: none;
}


body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin-top: 0;
	max-width: 100%;
}

.header{
	background-color: purple;
	height: 160px;
}

.main{
	box-shadow: rgb(136, 136, 136) 0px 0px 15px 0px;
}

header{
}

article, footer{
}

p{
	margin-bottom: 10px;
}


/*****************************************************************
-----------------------------Nav Bar------------------------------
*****************************************************************/

nav{
	overflow: visible;
	margin-bottom: 20px;
}

.nav-inner{
	min-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	background: rgb(250, 250, 250) linear-gradient(rgb(255, 255, 255), rgb(242, 242, 242)) repeat-x;
	border: 1px solid rgb(212, 212, 212);
/*	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;*/
	box-shadow: rgba(0, 0, 0, 0.0627451) 0px 1px 4px 0px;	
}

.nav-inner:before, .nav-inner:after {
	display: table;
	content: "";
}

.nav{
	position: relative;
	left: 0;
	display: block;
	float: right;
	margin-right: 0;
}

.nav li{
	float: left;
}

.nav a{ 
	float: none;
	padding: 10px 15px 10px;
	color: #005580; /*#777777*/
	text-decoration: none;
	text-shadow: 0 1px 0 #ffffff;
	display: block;
}

.nav a:focus,
.nav a:hover,
.nav a:active{
	color: #005580;
	background-color: #e5e5e5;
}

.dropdown-menu{
	position: absolute;
	display: none;
	z-index: 1000;

	padding: 2px 0;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	/*-webkit-border-radius: 6px;
	border-radius: 6px;*/
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	-webkit-border-image: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
}

li:focus .dropdown-menu,
li:hover .dropdown-menu,
li:active .dropdown-menu{
	display:block;
}

.dropdown-menu li{
	clear:both;
	display: list-item;
	position: relative;
	color: #ffffff;
	list-style: none;
	width: 140px;
}

.dropdown-menu a{
	padding: 3px 20px;
}

.dropdown-menu a:focus,
.dropdown-menu a:hover,
.dropdown-menu a:active{
	color: white;
	text-decoration: none;
	text-shadow: none;
	white-space: nowrap;
	background-color: rgb(0, 129, 194);
	background-image: linear-gradient(rgb(0, 136, 204), rgb(0, 119, 179));
}

.caret{
	display: inline-block;
	vertical-align: middle;
	border-top: 4px solid #000000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	margin-left: 2px;
}


.box hr{
	margin-top: 10px;
	margin-bottom: 10px;
}

/*****************************************************
-------------------Aside box------------------------
*****************************************************/
.box{
	border-color: rgb(232, 232, 232);
	border: 1px solid rgb(232, 232, 232);
	/*border-radius: 4px;*/
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 20px;
}

.box,
.box h2,
.box a{
	font-family: 'Helvetica Neue', Arial, sans-serif;
	color: rgb(51, 51, 51);
}

.box-title{
	margin-top: 20px;
	margin-left: 0px;
}

/*****************************************************
------------------SocialMedia box---------------------
*****************************************************/

.social .icon{
	display: block;
	background: url(../images/socialMediaIcons.png) no-repeat 0 0;
	background-size: 120px;
	height: 40px;
	width: 40px;
}

.social #facebook{
	background-position: 0 0;
}


.social #twitter{
	background-position: 50% 0;
}


.social #youtube{
	background-position: 100% 0;
}


/*****************************************************
-------------------Twitter box------------------------
*****************************************************/

.twitter-box{
}

