#vlb2overlay{
	position:absolute;
	top:0;
	left:0;
	z-index:190;
	width:100%;
	height:auto;
	background-color:#000000;
}

#vlb2lightbox{
	position:absolute;
	top:20px;
	left:0;
	width:100%;
	z-index:200;
	text-align:center;
	color:#151410;
	line-height:0;
}
#vlb2lightbox td{
	vertical-align:top;
}
#vlb2lightbox a, #vlb2lightbox a:hover {
	border-bottom:none;
	color:#151410;
	text-decoration:underline;
}

#vlb2lightbox a img{ border:none; }

#vlb2outerImageContainer{
	width:auto;
	height:auto; /* without this line error in IE8 detected */
	margin:0 auto;
	position:relative;
}

#vlb2lightboxImage{
	width:100%;
	height:100%;
}

#vlb2imageContainerMain{
	margin:0 auto;
	overflow:visible;
	position:relative;
	font-size:0;/* ie fix - big info bar*/
}

#vlb2imageContainer{
	width:150px;
	height:30px;
	margin:0 auto;
	overflow:hidden;
	background-color:#fff;
	position:relative;
	font-size:0;/* ie fix - big info bar*/
}

#vlb2loading{
	position:absolute;
	top:40%;
	left:0%;
	height:25%;
	width:100%;
	text-align:center;
	font-size:10px;
	z-index:1;
}
#vlb2loadingLink {
	display:block;
	margin:0 auto;
	padding:0;
	width:150px;
	height:29px;
	background:url(loading.gif) center center no-repeat;
	text-indent:-9999px;
}
#vlb2hoverNav{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:10;
}
#vlb2imageContainer>#hoverNav{ left:0;}
#vlb2prevLinkImg, #vlb2nextLinkImg{
	top:0;
	width:48px;
	height:100%;
	position:absolute;
	z-index:20;
	outline-style:none;
	display:block;
	text-indent:-9999px;
	background:none;
	}
* html #vlb2prevLinkImg,* html #vlb2nextLinkImg{
	background-image:url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */
}
#vlb2prevLinkImg { left: 0px; }
#vlb2nextLinkImg { right: 0px; }
#vlb2prevLinkImg:hover, #vlb2prevLinkImg.hover, #vlb2prevLinkImg:visited:hover { 
	background:url(prev.png) 5% center no-repeat; 
}
#vlb2nextLinkImg:hover, #vlb2nextLinkImg.hover, #vlb2nextLinkImg:visited:hover { 
	background:url(next.png) 97% center no-repeat; 
}

#vlb2imageDataContainer{
	font: 12px Tahoma,Arial,Helvetica;
	color: #000000;
	width: auto;
	position: absolute;
	z-index:21;
	bottom: 30px;
	left: 30px;
	opacity:.6;	
}

#vlb2imageData{
	overflow:hidden;
	background-color:#ffffff;
	text-align:center; 
	position: relative;
	z-index:21;
	margin-right: 30px;
}
#vlb2imageDetails{ width:100%; padding:0;}
#vlb2caption{ padding: 12px;display:block;text-align:left; }
#vlb2numberDisplay{ display:none;text-align:right;}
#vlb2detailsNav{display:none;}
#vlb2prevLinkDetails, #vlb2nextLinkDetails, #vlb2slideShowControl{display:none;}

#vlb2close{
	position:relative;
	width:100%;
	height:0;
	z-index:21;
}
#vlb2closeLink {
	position:absolute;
	top:20px;
	right:20px;
	display:block;
	outline-style:none;
	margin:0;
	padding:0;
	text-decoration:none;
	width:44px;
	height:43px;
	background:url(close.png) no-repeat;
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='media_files/vlb_files2/close.png', sizingMethod='scale');
}

.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}
* html>body .clearfix {display:inline-block; width:100%;}

* html .clearfix {
	/* Hides from IE-mac \*/
	height:1%;
	/* End hide from IE-mac */
}	

#vlb2outerImageFrame{
	border:none;
	height:100%;
	width:100%;
	position:absolute;
}

#vlb2outerImageContainer{
	overflow:visible;
}
#vlb2outerImageContainer td{
	text-align:center;
	padding:0;
}

#vlb2lightboxFrameBody{
	background-color:#b3b3b3;
}

#vlb2outerImageContainer td, #vlb2outerImageContainer tr{
	font-size:0;
	border:0 none;
}

#vlb2outerImageContainer td.tl, #vlb2outerImageContainer td.br{
	height:20px;
	width:20px;
}
.vlb{display:none;}
#vlb2outerImageContainer td.tl{
	background:url(back_corvers.png) 0 0;
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='media_files/vlb_files2/back_lt.png', sizingMethod='scale');
}
#vlb2outerImageContainer td.tc{
	background:url(back_tb.png) 50% 0;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='media_files/vlb_files2/back_ct.png', sizingMethod='scale');
}
#vlb2outerImageContainer td.tr{
	background:url(back_corvers.png) 100% 0;
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='media_files/vlb_files2/back_rt.png', sizingMethod='scale');
}
#vlb2outerImageContainer td.ml{
	background:url(back_lr.png) 0 50%;
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='media_files/vlb_files2/back_lc.png', sizingMethod='scale');
}
#vlb2outerImageContainer td.mr{
	background:url(back_lr.png) 100% 50%;
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='media_files/vlb_files2/back_rc.png', sizingMethod='scale');
}
#vlb2outerImageContainer td.bl{
	background:url(back_corvers.png) 0 100%;
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='media_files/vlb_files2/back_lb.png', sizingMethod='scale');
}
#vlb2outerImageContainer td.bc{
	background:url(back_tb.png) 50% 100%;
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='media_files/vlb_files2/back_cb.png', sizingMethod='scale');
}
#vlb2outerImageContainer td.br{
	background:url(back_corvers.png) 100% 100%;
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='media_files/vlb_files2/back_rb.png', sizingMethod='scale');
}