#home_page_slider{
  height: 452px; 
  background: #000;

  .galleria-stage{
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    #title_text{
      position: absolute;
      bottom: 0px;
      color: white;
      background: rgba(30, 30, 30, .9);
      width: 100%;
      padding: 6px 0px 6px 10px;
      line-height: 18px;
      z-index: 100;
    }
  }
}
#videos_slider{
  height: 562.5px; 
  background: #000;

  .galleria-stage{
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
  }
}