div, body, head, footer, p, h1, h2, h3, h4, ul, li, a, img, table{
	margin: 0;
	padding: 0;
	/*border: 1px solid white;*/
}

.pull-right{
	float: right;
}

.pull-center{
	text-align: center;
}

.alpha{
	margin-left: 0;
}

.omega{
	margin-right: 0;
}

.hide {
	display: none;
}

header [class*="grid"]{
	padding: 0;
}

body{
	background-image:url('../images/TeamPhotos/sectionalsHuddle1.jpg');
	background-size: 100%;
	background-repeat: no-repeat no-repeat;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	max-width: 100%;
	color: rgba(255, 255, 255, 0.8);
}

body a{
	color: rgba(255, 255, 255, 0.8);
}

.unstyled{
	list-style: none;
}

/***********************************************************
-------------------Navigation Bar and Menu------------------
***********************************************************/
header{
	margin-top: 80px;
	margin-bottom: 40px;
	background-color: rgba(0, 0, 0, .9);
	color: white;
}

.logo{
	background-color: rgba(0, 0, 0, .2);
}

.logo-image{
	background-image: url('../images/voidLogo.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	min-height: 170px;
	margin: 14px 10px;
}

nav{
	overflow: visible;
	margin-top: 80px;
}


.nav-inner{
	display: block;
	min-height: 40px;
	/*border: 1px solid rgb(212, 212, 212);*/
}

.nav-inner:before, .nav-inner:after {
	display: table;
	content: "";
}

.nav{
	position: relative;
	/*left: 0;*/
	display: block;
	/*float: right;*/
}

.nav li{
	float: left;
}

.nav a{ 
	float: none;
	padding: 10px 15px 10px 15px;
	font-size: 20px;
	text-decoration: none;
	/*text-shadow: 0 1px 0 #ffffff;*/
	display: block;
}

.nav a:focus,
.nav a:hover,
.nav a:active{
	color: rgb(114,18,170);
}

.nav a.selected,
.nav a.selected.hover{
	color: rgb(114,18,170);
	font-weight: bolder;
}

.dropdown-menu{
	position: absolute;
	display: none;
	z-index: 1000;

	padding: 1px 0;
	background-color: #000000;
	border: 1px solid rgba(0, 0, 0, 0.2);
	/*-webkit-border-radius: 6px;
	border-radius: 6px;*/
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	-webkit-border-image: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
}

li:focus .dropdown-menu,
li:hover .dropdown-menu,
li:active .dropdown-menu{
	display:block;
}

.dropdown-menu li{
	clear:both;
	display: list-item;
	position: relative;
	color: #ffffff;
	list-style: none;
	width: 140px;
}

.dropdown-menu a{
	padding: 7px 17px;
}

.dropdown-menu a:focus,
.dropdown-menu a:hover,
.dropdown-menu a:active{
	color: white;
	text-decoration: none;
	text-shadow: none;
	white-space: nowrap;
	background-color: rgb(0, 129, 194);
	background-image: linear-gradient(rgb(0, 136, 204), rgb(0, 119, 179));
}

.caret{
	display: inline-block;
	vertical-align: middle;
	border-top: 4px solid #ffffff;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	margin-left: 2px;
}

/***********************************************************
--------------------Main content common---------------------
***********************************************************/
.content{
	margin-bottom: 40px;
}

.content p{
	text-align: left;
	margin-top: 14px;
}

.main{
	background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .95));
	padding: 30px 10px 40px 10px;
}

.mainImage{
	width: 60%;
	margin: 0 auto 20px auto;
}

h1{
	font-size: 26px;
	margin-bottom: 10px;
}

table{
	margin: 0 auto;
	
}

table td,
table th{
	padding: 2px 10px;
	vertical-align: top;
	text-align: left;
}

/***********************************************************
-------------------------Schedule---------------------------
***********************************************************/

.calendar{
	margin-top: 20px;
	min-height: 500px;
	width: 100%;
}

.content h2{
	line-height: 21px;
}

#results{
	text-align: center;
	margin-bottom: 20px;
}

.subTable th{
	padding-bottom: 8px;
}

.subTable .omega{
	padding-bottom: 20px;
}

/***********************************************************
--------------------------Rosters--------------------------
***********************************************************/
.roster p{
	font-size: 16px;
}


/***********************************************************
-----------------------Alumni Rosters-----------------------
***********************************************************/

.teamPhotoContainer{
	width: 70%;
}

.teamPhoto{
	width: 100%;
}

dl{
	margin-left: 15%;
	margin-right: 15%;
	border-top: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
}

dt{
	cursor: pointer;
	font-weight: bold;
	font-size: 1.5em;
	line-height: 2em;
	border-top: 1px solid #c5c5c5;
}

dd{
	margin: 0 auto 20px auto;
}

dt:first-child{
	border-top: none;
}
/*dt:nth-last-child(2){
	border-bottom: 1px solid #c5c5c5;
}*/


/***********************************************************
-----------------------Twitter Widge------------------------
***********************************************************/

.twitter-box{
	float: right;
}

.twitter-box h1{
	margin-top:20px;
}

.twitter-box h2{
	margin-bottom: 18px;
}


.twitter-box hr{
	margin-top: 10px;
	margin-bottom: 20px;
}

.twitter-timeline{
	width: 100%;
}


/***********************************************************
--------------------------Footer----------------------------
***********************************************************/

footer{
	margin-bottom: 40px;
	padding: 30px 20px 35px 20px;
	background-color: rgba(0, 0, 0, .9);
}

footer a{
	text-decoration: none
}

