@import url("fullcalendar.css");
@import url("galleria.css");
@import url("unsemantic-grid-responsive.css");
@import url("scrollable-buttons.css");
@import url("scrollable-horizontal.css");

div, body, head, footer, p, h1, h2, h3, h4, ul, li, a, img, table{
	margin: 0;
	padding: 0;
	/*border: 1px solid white;*/
}

body{
	background: black;
}

.pull-right{
	float: right;
}

.pull-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.alpha{
	margin-left: 0;
}

.omega{
	margin-right: 0;
}

.hide {
	display: none;
}

.caret{
	display: inline-block;
	vertical-align: middle;
	border-top: 4px solid #ffffff;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	margin-left: 2px;
}

.right-caret{
	display: inline-block;
	vertical-align: middle;
	border-left: 5px solid #ffffff;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}

a:hover .caret,
a:focus .caret,
a:active .caret,
a.selected .caret,
a.selected:hover .caret{
	border-top: 4px solid rgb(114,18,170);
}

header [class*="grid"]{
	padding: 0;
}

body{
	background-image:url('../images/teamPhotos/sectionalsHuddle1.jpg');
	background-size: 100%;
	background-repeat: no-repeat no-repeat;
	/*background-attachment: fixed;*/
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	max-width: 100%;
	color: rgba(255, 255, 255, 0.9);
}

body a{
	color: rgba(255, 255, 255, 0.85);
	text-decoration: none;
	font-weight: bold;
}

.container{
	margin: 0 auto;
}

li{
	list-style: none;
}

.unstyled{
	list-style: none;
}

/***********************************************************
-------------------Navigation Bar and Menu------------------
***********************************************************/
header{
	margin-top: 80px;
	margin-bottom: 40px;
	padding-top: 14px;
	padding-bottom: 14px;
	background-color: rgba(0, 0, 0, .9);
}

.logo{
	background-color: rgba(0, 0, 0, .2);
}

.logo-image{
	background-image: url('../images/voidLogo.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
	min-height: 170px;
	margin: 0px 10px;
}

nav{
	overflow: visible;
	margin-top: 8%;
}

/*.nav-inner{
	display: block;
	min-height: 40px;
}

.nav-inner:before, .nav-inner:after {
	display: table;
	content: "";
	}*/

.nav{
	position: relative;
	/*left: 0;*/
	display: block;
	/*float: right;*/
}

.nav li{
	float: left;
}

.nav a{ 
	/*float: none;*/
	padding: 10px 15px 10px 15px;
	font-size: 18px;
	text-decoration: none;
	/*text-shadow: 0 1px 0 #ffffff;*/
	display: block;
}

.nav a:focus,
.nav a:hover,
.nav a:active{
	color: rgb(114,18,170);
	font-weight: bolder;
}

.nav a.selected,
.nav a.selected.hover{
	color: rgb(114,18,170);
	font-weight: bolder;
}

.dropdown-menu{
	position: absolute;
	display: none;
	z-index: 1000;

	padding: 1px 0;
	background-color: #000000;
	border: 1px solid rgba(0, 0, 0, 0.2);
	/*-webkit-border-radius: 6px;
	border-radius: 6px;*/
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	-webkit-border-image: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
}

li:focus .dropdown-menu,
li:hover .dropdown-menu,
li:active .dropdown-menu{
	display:block;
}

.dropdown-menu li{
	clear:both;
	display: list-item;
	position: relative;
	width:100%;
	min-width: 140px;
}

.dropdown-menu a{
	padding: 7px 17px;
}

.dropdown-menu a:focus,
.dropdown-menu a:hover,
.dropdown-menu a:active{
	color: white;
	text-decoration: none;
	text-shadow: none;
	white-space: nowrap;
	background-color: rgb(0, 129, 194);
	background-image: linear-gradient(rgb(0, 136, 204), rgb(0, 119, 179));
	background-image: -moz-linear-gradient(top, rgb(0, 136, 204), rgb(0, 119, 179)); /* Firefox 3.6 */
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(0, 119, 179)),color-stop(1, rgb(0, 136, 204))); /* Safari & Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='rgb(0, 136, 204)', endColorstr='rgb(0, 119, 179)'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='rgb(0, 136, 204)', endColorstr='rgb(0, 119, 179)')"; /* IE8 */
}

/***********************************************************
--------------------Main content common---------------------
***********************************************************/
.content{
	margin-bottom: 40px;
}

.content p{
	text-align: left;
	margin-top: 14px;
}

.main{
	padding: 30px 10px 40px 10px;
	min-height: 700px;
	background: rgba(0, 0, 0, .85);
	background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .95));
	background: -moz-linear-gradient(top, rgba(0, 0, 0, .7), rgba(0, 0, 0, .95)); /* Firefox 3.6 */
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgba(0, 0, 0, .95)),color-stop(1, rgba(0, 0, 0, .7))); /* Safari & Chrome */
}

.mainImage{
	width: 60%;
	margin: 0 auto 20px auto;
}

h1{
	font-size: 26px;
	line-height: 30px;
	margin-bottom: 10px;
}

table{
	margin: 0 auto;
	
}

table td,
table th{
	padding: 2px 10px;
	vertical-align: top;
	text-align: left;
	white-space: nowrap 	;
}

article{
	margin: auto 0 ;
}

/***********************************************************
-------------------------Schedule---------------------------
***********************************************************/

.content h2{
	line-height: 26px;
}

#results{
	text-align: center;
	margin-bottom: 20px;
}

.subTable th{
	padding-bottom: 8px;
}

.subTable .omega{
	padding-bottom: 20px;
}

/***********************************************************
-------------------------Calendar---------------------------
***********************************************************/

#calendar{
	margin-top: 20px;
	width: 100%;
}


/*.ui-icon{
	background-image: url('../images/icons/fcIcons.png') !important;
	display: block;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	border: 1px solid white;
}
.ui-icon-carat-1-w{
	background-position: 0px 0px;
}
*/


/***********************************************************
--------------------------Rosters--------------------------
***********************************************************/

.roster-table-container{
	display: inline-block;
}

.roster-table{
	display: block;
}


/***********************************************************
-----------------------Alumni Rosters-----------------------
***********************************************************/

.teamPhotoContainer{
	width: 70%;
}


/***********************************************************
--------------------------Dropdowns-------------------------
***********************************************************/
dl{
	cursor: pointer;
}

dl.alumni_dropdown {
	border-top: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	margin-left: 15%;
	margin-right: 15%;
}

dl.alumni_dropdown dt{
	font-weight: bold;
	font-size: 1.5em;
	line-height: 2em;
	border-top: 1px solid #c5c5c5;
}

dl.alumni_dropdown dd{
	margin: 0 auto 20px auto;
}

dl.alumni_dropdown dt:first-child{
	border-top: none;
}
/*dt:nth-last-child(2){
	border-bottom: 1px solid #c5c5c5;
}*/
/***********************************************************
----------------------Twitter Widget------------------------
***********************************************************/
.social{
	margin: 0 auto;
	line-height: 0px;
	min-height: 56px;
	text-align: justify;
}

.social .icon{
	display: inline-block;
	background: url(../images/icons/socialMediaIcons3.png) no-repeat 0 0;
	background-size: 224px;
	height: 56px;
	width: 55px;
	margin-bottom: 8px;
}

.social:after {
	content: '';
	width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
	display: inline-block;
}

.social a:hover{
	opacity: 0.7;
}

.social #facebook{
	background-position: 0 100%;
}

.social #twitter{
	background-position: 33.333% 100%;
}

.social #youtube{
	background-position: 66.6666666666% 100%;
}

.social #wordpress{
	background-position: 100% 100%;
}

.twitter-box{
	float: right;
	margin-top: 10px;
	min-width: 0 !important;
	width: 100%!important;
}

.twitter-box h2{
	margin-bottom:15px;
}


.twitter-timeline{
	min-width: 0 !important;
	width: 100% !important;
}

/***********************************************************
--------------------------Footer----------------------------
***********************************************************/

footer{
	margin-bottom: 40px;
	padding: 30px 20px 35px 20px;
	background-color: rgba(0, 0, 0, .9);
}

footer a{
	text-decoration: none;
}

/***********************************************************
--------------------------Mobile----------------------------
***********************************************************/

.nav-button { display: none; } /* hide the navigation button by default */

@media only screen and (min-width: 0px) and (max-width: 475px) {
	
	header, .logo, nav, .nav, footer{
		margin: 0;
		padding: 0;
	}

	body{
		background-image: url(../images/rallyCatch1.jpg);
		/*background-size: 150%;
		background-position: 65% 0%;*/
		background-size: cover;
		background-repeat: no-repeat no-repeat;
		background-attachment: fixed;
	}

	header{
		margin-top: 45px;
		margin-bottom: 20px;
		padding: 10px 0px;
	}


	.logo-image{
		min-height: 100px;
	}

	nav{
		position: absolute;
		top: 0;
	}

	.main{
		padding-bottom: 20px;
		font-size: 14px;
		line-height: 18px;
	}

	.teamPhoto{
		width: 100%;
	}

	.social{
		margin-top: 20px;
	}

	footer{
		font-size: 10px;
		line-height: 14px;
		padding: 20px 0;
	}

	/* Navigation Button
	-------------------------------------------------------- */

	.nav-button {
		display: block;
		width: 100px;
		height: 35px;
		cursor: pointer;
		border: 0 none;
		border-bottom: 1px solid rgba(255,255,255,.1);
		box-shadow: 0 0 4px rgba(0,0,0,.7) inset;
		z-index: 999;
		color: rgb(255, 255, 255);
		background-color: rgba(0, 0, 0, .75);
	}
	.nav-button:hover { 
		background-color: rgba(0,0,0,1); 
	}

	/* Navigation Bar
	-------------------------------------------------------- */

	.nav {
		width: 90%;
		position: absolute;
		left: inherit;
		/*background-color: rgba(0, 0, 0, .95); /* change the menu color #238be3 */
		display: block;
		overflow: hidden;
		box-shadow: 0 1px 2px rgba(0,0,0,.6);
		z-index: 998;
	}

	.nav li {
		display: none;
		float: none;
		width: 150px;
		max-height: 36px;
		background-color: rgba(0,0,0,.95);
	}
	.nav li a {
		display: block;
		padding: 8px 10px;
		font-size: 14px;
		font-weight: bolder;
		text-shadow: -1px -1px 0 rgba(0,0,0,.15);
		border-top: 1px solid rgba(255,255,255,.2); 
	}
	.nav > li:first-child {
		border: none;
	}

	/* Toggle the navigation bar open  */
	.nav.open li{
		display: block;
	}

	/* Submenus – optional .parent class indicates dropdowns */

	.nav .dropdown-menu{
		position: relative;
		top: -36px;
		left: 99%;
		display: none;
		border-top: 0 none;
		padding: 0;
	}
	
	.nav li.dropdown > a:hover {
		background: rgba(0,0,0,.75);
	}

	.nav .dropdown-menu a {
		border: 0 none;
		font-size: 14px;
		padding: 8px 7%;
		font-weight: normal;
	}
	.nav li:hover .dropdown-menu {
		display: block;
		border-top: 0 none;
	}
}


/*#media_sidebar_wrapper{
	background-color: rgba(20, 20, 20, .9);
	padding-top: 10px;
}*/

/*#media_sidebar_wrapper h2{
	margin-left: 10px;
	padding-bottom: 10px;
}*/

#photo_gallery{
	background-color: rgba(20, 20, 20, .9);
	padding: 10px 10px 10px 10px;
}

#image_wrap {
	/* dimensions */
	/*width:640;*/
	padding:15px 0;
	
	/* centered */
	text-align:center;
	
	/* some "skinning" */
	background-color:#000000;
	border: 1px solid #3c3c3c;
}

#photos_dropdown .photos_clickables li{
	cursor: pointer;
}

.scroll_panel{
	min-height: 82px;
	position:relative;
	margin: 20px auto 10px auto;
}
/*
root element for the scrollable.  when scrolling occurs this
element stays still.
*/

.scroll_panel a.browse{
	position: absolute;
	background: url("../images/icons/fcIcons_black.png");
	background-color: rgba(255,255,255,1);
	background-size: 50em;
	height: 14em;
	width: 10em;
	border-style: solid;
	border-color: white;
	border-top-width: 5em;
	border-right-width: 5em;
	border-bottom-width: 5em;
	border-left-width: 5em;
	z-index: 5;
	margin: 0;
	top: 40%;
	opacity: .80;
}

.scroll_panel a.browse:hover{
	background: url("../images/icons/fcIcons_white.png");
	background-color: rgba(0, 0, 0, 1);
	background-size: 50em;
	height: 14em;
	width: 10em;
	border-style: solid;
	border-color: rgba(34, 34, 34, 1);
	border-top-width: 5em;
	border-right-width: 5em;
	border-bottom-width: 5em;
	border-left-width: 5em;
	opacity: .75;
}

.scroll_panel a.left,
.scroll_panel a.left:hover{
	left: -10px;
}
.scroll_panel a.right, 
.scroll_panel a.right:hover{
	background-position: -10em 0;
	right: -10px;	
}

.scroll_panel .scrollable {
  /* required settings */
  position:absolute;
  overflow:hidden;
  width:100%;
  border: 0;
 	height: 100%;
}

.scroll_panel .scrollable .items {
  /* this cannot be too large */
  width:20000em;
  position:absolute;
}
 
.scroll_panel .scrollable img{
	border: 4px solid #3b3b3b;
	margin: 0px 10px 0px 0px
}

.scroll_panel .scrollable img.active{
	border-color: #fff;
}

.items div {
  float:left;
  width: auto;
}


#media_sidebar_wrapper{
	padding: 0 10px 0 10px;
	background: rgba(20, 20, 20, 1);
	line-height: 3em;
}

#media_sidebar h2{
	padding: 10px 0 10px 0;
}

/* Hide radio button */
#media_sidebar input{
	display:none;
}

#media_sidebar li{
	cursor: pointer;
}

/* Code for show/hide behavior */
#media_sidebar .photos-dropdown .type-selector{
	display:none;
}
#media_sidebar input:checked + label .type-selector{
	display:block;
}

/* Code for linear-gradient borders */
#media_sidebar .photos-dropdown .grad-border{
	display: block;
	position:relative;
	z-index:5;	
}
#media_sidebar .photos-dropdown .grad-border:before{
	position:absolute;
	background-image: -webkit-linear-gradient(left, 
		rgba(180, 180, 180, 0) 2%, 
    rgba(180, 180, 180, .3) 10%, 
    rgba(180, 180, 180, .65) 40%, 
    rgba(180, 180, 180, .65) 60%, 
    rgba(180, 180, 180, .3) 90%, 
    rgba(180, 180, 180, 0) 98%);
		);
	content:"";
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	z-index: -2;
}
#media_sidebar .photos-dropdown .grad-border:after{
	position:absolute;
	background:rgba(20, 20, 20, 1);
	content:"";
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: -1;
}
#media_sidebar .photos-dropdown>.grad-border:last-of-type:before,
#media_sidebar .photos-dropdown>.grad-border:last-of-type:after,
#media_sidebar .photos-dropdown .type-selector:last-child .grad-border:last-of-type:before,
#media_sidebar .photos-dropdown .type-selector:last-child .grad-border:last-of-type:after{
	background:none;
}

#media_sidebar .photos-dropdown .right-caret{
	vertical-align: middle;
	margin-right: 10px;
}

#media_sidebar .photos-dropdown .type-selector li{
	padding-left: 30px;
}
